.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}

.input-group {
  min-width: 100%;
}


.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
}

.checkmark {
  box-shadow: inset 0px 0px 0px 30px #7ac142;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  animation: forwards, scale .3s;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.2s cubic-bezier(0.65, 0, 0.45, 1) 0.1s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

.logo .cls-1 {
  fill: #31417A
}

.logo .cls-2 {
  fill: #fff
}

.logo .cls-3 {
  fill: #333
}

.logo,.header-site .navigation-links {
  position: relative;
  min-height: 1px;
  padding-left: 1rem;
  padding-right: 1rem
}